<!DOCTYPE html>

<title>Hello MenuVController!</title>

{% block body %}
{#<p>Visiteur Connecté : {{ info['prenomV'] }} {{ info['nomV'] }} {{ info['idVisiteur'] }}</p>#}
<a href="{{path('consulter')}}">Consulter</a> </br>
<a href="{{ path('renseigner') }}">Renseigner</a>

{% endblock %}
